<mat-toolbar class="header-container">
  <!-- <span>Custom Toolbar</span> -->

  <span class="fill-remaining"></span>

  <!-- <mat-icon class="example-icon">verified_user</mat-icon> -->

  <div class="header-text">
    <div class="name">JP Lew</div>
    <div class="title">Full Stack Developer</div>
    <div class="address">
      <a href="mailto:jplew108@gmail.com">jplew108@gmail.com</a>
    </div>
    <div class="social">
      <a target="_blank" href="https://github.com/jplew"
        ><span class="icon github"></span
      ></a>
      <a target="_blank" href="https://stackoverflow.com/users/1011766/jp-lew"
        ><span class="icon stackoverflow"></span
      ></a>
    </div>
  </div>
</mat-toolbar>
