<mat-toolbar class="header-container">

  <!-- <span>Custom Toolbar</span> -->

  <span class="fill-remaining"></span>

  <!-- <mat-icon class="example-icon">verified_user</mat-icon> -->

  <div class="header-text">
    <div class="name">
      JP Lew
    </div>
    <div class="title">
      Full Stack Developer
    </div>
    <div class="address">
      2365 Clark Drive, Vancouver, BC<br>
      604-563-1502 <span class="divider">|</span> <a href="mailto:jp@kriyate.co">jp@kriyate.co</a>
    </div>
  </div>

</mat-toolbar>
