<div fxLayout="row">
  <span class="fill-remaining"></span>
  <span fxFlexAlign="start">
    <a class="icon-hover" (click)="dialogRef.close()"><mat-icon >close</mat-icon></a>
  </span>
</div>

<div class="image" fxLayout="row">

  <span fxFlexAlign="center">
    <a class="icon-hover" (click)="imagePrevious()"><mat-icon class="icon-arrow-left">keyboard_arrow_left</mat-icon></a>
  </span>

  <span fxFlexAlign="center">

    <div class="content">
      <div fxFlexAlign="start" class="caption mat-caption">
        {{ caption }}
      </div>

      <div>
        <img #bigImage [src]="imageUrl" [style.height]="imageHeight" alt="projectName">
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">

        <a class="icon-hover" (click)="imagePrevious()">
          <mat-icon class="icon-arrow-left current">keyboard_arrow_left</mat-icon>
        </a>
        <span class="image-current" fxFlexAlign="start">
          {{ imagesCurrent }} of {{ imagesTotal }}
        </span>
        <a class="icon-hover" (click)="imageNext()">
          <mat-icon class="icon-arrow-right current">keyboard_arrow_right</mat-icon>
        </a>

      </div>

    </div>

  </span>
  
  <span fxFlexAlign="center">
    <a class="icon-hover" (click)="imageNext()"><mat-icon class="icon-arrow-right">keyboard_arrow_right</mat-icon></a>
  </span>

</div>
