<div class="project-container">
  <hr>
  <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

    <div class="col-one" fxFlex="50" fxFlex.xs="50">

      <h2>{{ projectData.title }}</h2>
      <mat-chip-list>
        <mat-chip *ngFor="let skill of projectData.skills">{{ skill }}</mat-chip>
      </mat-chip-list>

      <div class="thumbnails">
        <app-project-image 
          *ngFor="let image of projectData.images" 
          [imageData]="image">
        </app-project-image>
      </div>

    </div>

    <div class="col-two" fxFlex="50" fxFlex.xs="50">
      {{ projectData.description }}
      <ul>
        <li *ngFor="let bullet of projectData.bullets">{{ bullet }}</li>
      </ul>
    </div>

  </div>
</div>
