<div class="project-container">
  <hr>
  <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

    <div class="col-one" fxFlex="50" fxFlex.xs="50">

      <h2>Intellitrucks.com</h2>
      <mat-chip-list>
        <mat-chip>PHP</mat-chip>
        <mat-chip>Laravel</mat-chip>
        <mat-chip>MySQL</mat-chip>
        <mat-chip>Javascript</mat-chip>
      </mat-chip-list>

      <div class="thumbnails">
        <app-project-image 
          *ngFor="let image of images" 
          [imageUrl]="image.url" 
          [imageId]="image.id" 
          [quantity]="image.qty" 
          [projectName]="image.project">
        </app-project-image>
      </div>

    </div>

    <div class="col-two" fxFlex="50" fxFlex.xs="50">

      Web app for logistics technology company.
      <ul>
        <li>Developed set of specs based on US Department of Transportation federal motor carrier regulations on Electronic Logging
          Devices
        </li>
        <li>Custom CMS development in Laravel</li>
        <li>MySQL database design</li>
        <li>Programmed REST API endpoints</li>
        <li>Created charts and tables using Datatables.net and amcharts.js</li>
        <li>Connected to Google Maps APIs</li>
      </ul>

    </div>

  </div>
</div>
